# add to shells with:
# source ~/.aliases
# todo: create a script to filter these according to shell and OS
# Aliases -----------------------------------------------------------------
# the following are for bash and zsh
# fish and nushell may have additional aliases

# System aliases
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='clear'

# Development aliases
alias py='python3'
alias pip='pip3'
alias node='nodejs'

# File & Directory Operations
alias ll='ls -laFh'
alias la='ls -A'
alias l='ls -CF'
alias lt='ls -laFht'  # Sort by time, newest first
alias ltr='ls -laFhtr'  # Sort by time, oldest first
alias mkdir='mkdir -p'
alias cp='cp -i' 
alias mv='mv -i'
alias rm='rm -i'
alias ln='ln -i'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias tree='tree -C'
alias findf='find . -name'
alias findd='find . -type d -name'
alias mkcd='mkdir -p && cd'
alias cat='bat'
alias less='less -R'    # read file
alias more='more -R'    # read file
alias tail='tail -f'    # follow file
alias head='head -20'   # show first 20 lines
alias wc='wc -l'   # count lines
alias du='du -h'   # disk usage
alias df='df -h'   # disk free
alias lsblk='lsblk -f'  # list block devices
alias mount='mount | column -t'  # list mounted filesystems
alias find='find . -name'  # find files
alias grep='grep --color=auto --exclude-dir={.git,.svn,.hg}'  # search files
alias rg='rg --color=auto'  # search files
alias fd='fd --color=auto'  # search files

# Networking aliases
alias myip='curl -s https://ipinfo.io/ip'
alias ping5='ping -c 5'
alias ping25='ping -c 25'
alias ping100='ping -c 100'
alias ping200='ping -c 200'
alias ping500='ping -c 500'
alias ping1k='ping -c 1000'
alias ping2k='ping -c 2000'
alias ping5k='ping -c 5000'
alias ssh='ssh -o ServerAliveInterval=60 -o ServerAliveCountMax=3'
alias scp='scp -o ServerAliveInterval=60 -o ServerAliveCountMax=3'
alias rsync='rsync -avz --progress'
alias wget='wget -c'
alias curl='curl -s'
alias dig='dig +short'
alias nslookup='nslookup -type=A'
alias traceroute='traceroute -n'

# Text Editing & code env aliases
alias vim='nvim'
alias vi='nvim'
alias edit='code'
alias py='python3'
alias pip='pip3'
alias node='node --max-old-space-size=4096'
alias npm='npm --no-audit'
alias yarn='yarn --silent'
alias serve='python3 -m http.server'
alias jq='jq -C'
alias json='python3 -m json.tool'
alias xml='xmllint --format'

# Git aliases
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --graph --decorate'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gd='git diff'
alias gdc='git diff --cached'

# AWSCLI aliases
alias aws='$(asdf where awscli)/bin/aws --output table'
alias awsj='$(asdf where awscli)/bin/aws --output json'
alias awsy='$(asdf where awscli)/bin/aws --output yaml'
alias aws-whoami='aws sts get-caller-identity'
alias aws-regions='aws ec2 describe-regions --query "Regions[].RegionName" --output table'
alias aws-instances='aws ec2 describe-instances --query "Reservations[].Instances[].{ID:InstanceId,Type:InstanceType,State:State.Name,IP:PublicIpAddress}" --output table'
alias aws-buckets='aws s3 ls'
alias aws-lambda='aws lambda list-functions --query "Functions[].{Name:FunctionName,Runtime:Runtime,Memory:MemorySize}" --output table'
alias aws-ecr='aws ecr describe-repositories --query "repositories[].{Name:repositoryName,URI:repositoryUri}" --output table'

# Docker aliases
# alias dps='docker ps'
# alias dpa='docker ps -a'
# alias di='docker images'
# alias drm='docker rm'
# alias drmi='docker rmi'
# alias dex='docker exec -it'
# alias dlogs='docker logs'
# alias dstop='docker stop'
# alias drun='docker run'
# alias dbuild='docker build'

# Kubectl aliases
# alias k='kubectl'
# alias kg='kubectl get'
# alias kd='kubectl describe'
# alias kl='kubectl logs'
# alias ke='kubectl exec -it'
# alias kdp='kubectl delete pod'
# alias kds='kubectl delete service'
# alias kdn='kubectl delete namespace'
# alias kaf='kubectl apply -f'
# alias kdf='kubectl delete -f'
# alias kctx='kubectl config use-context'
# alias kgctx='kubectl config get-contexts'
# alias kns='kubectl config set-context --current --namespace'

# System and Process aliases
alias top='htop'
alias mem='free -h'
alias disk='df -h'
alias ports='netstat -tulpn'
alias psg='ps aux | grep'
alias killg='killall -9'
alias weather='curl wttr.in'
alias myip='curl ifconfig.me'
alias speed='speedtest-cli'
alias uptime='uptime -p'

# Time & Date aliases
alias now='date'
alias today='date +%Y-%m-%d'
alias time='date +%H:%M:%S'
alias datetime='date +"%Y-%m-%d %H:%M:%S"'
alias timestamp='date +%s'
alias utc='date -u'
alias epoch='date +%s'
alias iso='date -Iseconds'
alias rfc='date -R'
alias cal='cal -3'
alias calyear='cal -y'
alias week='date +%V'
alias day='date +%A'
alias month='date +%B'
alias year='date +%Y'

# System Info
alias cpu='sysctl -n machdep.cpu.brand_string'
alias cores='sysctl -n hw.ncpu'
alias memory='sysctl -n hw.memsize | awk "{print \$0/1024/1024/1024 \" GB\"}"'
alias os='sw_vers -productName'
alias osver='sw_vers -productVersion'
alias build='sw_vers -buildVersion'
alias hostname='hostname -s'
alias fqdn='hostname -f'
alias ip='ifconfig | grep "inet " | grep -v 127.0.0.1'
alias mac='ifconfig | grep ether'
alias wifi='networksetup -getairportpower en0'
alias battery='pmset -g batt'
alias temp='sudo powermetrics --samplers smc -n1 | grep "CPU die temperature"'
alias load='uptime | awk -F"load average:" "{print \$2}"'
alias users='who | wc -l'
alias processes='ps aux | wc -l'

# Linux Only ------------------------------------------

# OSX Only --------------------------------------------
alias brewclean='~/jdots/scripts/brewclean.sh'

# Powershell Only ----------------------------------------